body {
  margin: 0;
}

canvas {
  display: block;
}

.ContextMenu {
  list-style: none;
  margin: 0;
  padding: 0.6em 0;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  border: 1px solid #808080;
  box-shadow: 0 0 5px 1px #000000;
}

.ContextMenu > li {
  min-width: 4em;
  white-space: nowrap;
  font-family: sans-serif;
}

.ContextMenu > .SeparatorItem {
  padding: 0 1em;
}

.ContextMenu > .TextItem {
  padding: 0.4em 1em;
}

.ContextMenu > .ActiveTextItem:not(.inactive):hover {
  background-color: #ededed;
}

.ContextMenu > .ActiveTextItem.inactive {
  color: #808080;
}

.ContextMenuCoreModule {
  list-style: none;
  margin: 0;
  padding: 0.6em 0;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  border: 1px solid #808080;
  box-shadow: 0 0 5px 1px #000000;
}

.ContextMenuCoreModule > li {
  padding: 0.4em 1em;
  min-width: 4em;
  white-space: nowrap;
  cursor: pointer;
  font-family: sans-serif;
}

.ContextMenuCoreModule > hr {
  margin: 0.2em 0.5em;
}

.ContextMenuCoreModule > li:not(.disabled):hover {
  background-color: #ededed;
}

.ContextMenuCoreModule > li.disabled {
  cursor: default;
  color: #808080;
}
